<div class="left_box">
    {% block left_teaser %}
        Top box default content
    {% endblock %}
</div>

<div class="right_box">
    {% block right_teaser %}
        Bottom box default content
    {% endblock %}
</div>
